<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nedim Vehabović FAKEBOOK</title>
</head>
<body>
    <h1>FAKEBOOK</h1>
    <strong>Search:</strong> <br/>
    <input type="" name="" value="" placeholder="Search by name"/>
    <h2>Nedim Vehabović</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgwOSsFUjCmSEls-83nQCJz9I7BDLOICoWNA&usqp=CAU"/><br/><br/>
    <input type="submit" value="Add a friend"/>
    <h3>Podatki:</h3>
    <table border="1">
    <tr>
     <td>CITY</td>
     <td>AGE</td>
     <td>EDUCATION</td>
     <td>HOBBY</td>
    </tr>
    <tr>
     <td>Ljubljana</td>
     <td>30+</td>
     <td>Smart Ninja degree</td>
     <td>football</td>
    </tr>
    </table>
    <br/>
    <a href="https://www.facebook.com/nedim.vehabovic.391"><b>My real facebook profile:</b></a>
    <p><b>Smart ninja pričakovanja:</b></p>
    <ul>
    <li>Spoznati nekaj novega in uporabnega</li>
    <li>Dokazati sebi, da zmorem več</li>
    </ul>

</body>
</html>